@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: Orbitron;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1682687219570-4c596363fd96?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    overflow: hidden;

}
#clockSwitch {
    background-color: black;
    display: flex;
    border-radius: 30px;
}

#digiCock {
    background-color: antiquewhite;
    padding: 5px;
    margin: 0.5rem 0.5rem;
    display: flex;
    border: 1px solid red;
    border-radius: 20px;
    color: black;

}
#timerTitle{
    background-color:;
    padding: 5px;
    margin: 0.5rem 0.5rem;
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    color: white;

}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;

}
#date {
    margin: 1rem 0 ;
}
#dayOfTheWeek {
    background-color: rgba(83, 63, 210, 0.8);
    color: #ffffff;
    width: 7em;
    padding: 0.5rem;
    border-radius: 10px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(106, 91, 205, 0.8);
    box-shadow: 0 2px 3px rgb(72, 67, 71);

}

.clock span {
    width: 100px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 3px 4px rgb(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 138, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(80, 33, 138);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(72, 67, 71);
}

@media screen and (max-device-width: 480px) {

} 