@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }
    
    font-family: Orbitron;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    /* background: url("https://images.unsplash.com/photo-1682687219570-4c596363fd96?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-color: rgb(244, 244, 244);
    background-size: cover;
    overflow: hidden;

}

#mainContainer {
    border-radius: 40px;
    padding: 1.5rem 1.25rem;
    background-color: white;
    filter: drop-shadow(1px 5px 5px rgb(0, 0, 138, 0.4)); 
}

#clockSwitch {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0.2rem 0.5rem;
    background-color: rgb(0, 0, 138, 0.8);
    /* box-shadow: inset 2px 2px 10px 0px rgba(11, 1, 28, 0.5), inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3); */

}

/* Toggle Switch*/
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 0 0;

}

input#transparent {
    height: 0;
    top: 0;
    width: 40px;
    display: flex;
}
 
label.toggle-item {
    width: 4em;
    background-color: white;
    height: 2em;
    display: inline-block;
    border-radius: 60px;
    border: 2px solid white;
    margin: 0;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
    /* transform-origin: 90% center; */

    &:before {
        display: block;
        transition: all .2s ease;
        width: 1.1em;
        height: 1.1em;
        top: .22em;
        left: .30em;
        border-radius: 2em;
        border: 2px solid rgb(106, 91, 205, 0.8);
        box-shadow: 1px 2px 2px rgb(72, 67, 71);
        background-color: white;
        transition: .4s ease;
    }

}
/*
.transparent {
    label {
        background: transparent;
        border: 3px solid #fff;
        height: 3.35em;

        &:before {
            border: 3px solid #fff;
            width: 2em;
            height: 2em;
            top: .3=em;
            left: .3em;
            background: #fff;
        }
    }
}
*/
#transparent:checked+label {
    &:before {
        transform: translateX(30px);   
    }
}


/* clock */

#date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 138, 0.8);
    color: #ffffff;
    width: 320px;
    padding: 5px 5px;
    margin: 0.75rem 0rem 0.0 0;
}
#ampm {
    background-color: rgb(255, 255, 255);
    color: blueviolet;
    font-weight: bolder;
    padding: 0 0.5rem;
    margin: 0;
    border-radius: 5px;
  
}

.clock, .timer {
    display: flex;
    justify-content: space-between;
    width: 320px;
    /* display: none; */
}

.clock div, .timer div {
    border-radius: 0  0 10px 10px;
    background-color: rgb(106, 91, 205, 0.8);
    /* box-shadow: 0 2px 3px rgb(72, 67, 71); */

}

.clock span, .timer span {
    width: 100px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 2px 3px 4px rgb(0, 0, 0, 0.3);
}



.clock .text, .timer .textTimer {
    height: 2rem;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 138, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* .clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(80, 33, 138);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(72, 67, 71);
} */


#timerContainer {
    display: none;

}

.timerBtns {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgb(252, 247, 238, 0.5); */
    visibility:hidden;
    margin-top: 0;
    margin-bottom: 0.0;
}
.timerBtns button{
    width: 100px;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 21px;
    font-size: 0.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    color: rgb(0, 0, 138, 0.8);
    border: none;
    border-radius: 10px;
    margin-bottom: 0;
    /* padding: 10px; */
    /* margin: 5px 10px; */
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
#start:hover, #pause:hover, #reset:hover {
    /* color: white; */
    translate: 1px 1px; 
}


/* @media screen and (max-device-width: 480px) {} */