@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }
}

body {
    margin: 0;
    font-family: Orbitron;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    /* background: url("https://images.unsplash.com/photo-1682687219570-4c596363fd96?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-color: aqua;
    background-size: cover;
    overflow: hidden;

}

#clockSwitch {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

/* Toggle Switch*/

input#transparent {
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
    border: 1px solid red;
}
/*
.toggle-wrapper {
    flex: 1 1 calc(100% / 3);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    /* @media (max-width: 960px) {
        flex: 1 1 calc(100% / 2);
    }

    @media (max-width: 700px) {
        flex: 1 1 100%;
    }

    &:nth-child(2) {
        background: #de8797;
    } 
}
*/
/* .toggle {
    position: relative;
    display: inline-block;
} */

label.toggle-item {
    width: 4em;
    background: rgb(179, 188, 188);
    height: 2em;
    display: inline-block;
    border-radius: 60px;
    border: 2px solid white;
    margin: 0;
    position: relative;
    transition: all .3s ease;
    /* transform-origin: 90% center; */
    cursor: pointer;

    &:before {
        display: block;
        transition: all .2s ease;
        width: 1.1em;
        height: 1.1em;
        top: .25em;
        left: .30em;
        border-radius: 2em;
        border: 2px solid white;
        background-color: white;
        transition: .4s ease;
    }
}
/*
.transparent {
    label {
        background: transparent;
        border: 3px solid #fff;
        height: 3.35em;

        &:before {
            border: 3px solid #fff;
            width: 2em;
            height: 2em;
            top: .3=em;
            left: .3em;
            background: #fff;
        }
    }
}
*/
#transparent:checked+label {
    &:before {
        transform: translateX(30px);
        
    }
}


/* clock */

#digiClock {
    background-color: antiquewhite;
    padding: 5px;
    margin: 0.5rem 0.5rem;
    display: flex;
    border: 1px solid red;
    border-radius: 20px;
    color: black;

}

#timerTitle {
    padding: 5px;
    margin: 0.5rem 0.5rem;
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    color: white;

}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    margin: 0.5em 1em;

}

 /* {
    margin: 1rem 0;
    border: 1px solid red;
    width: 325px;
} */

#date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(83, 63, 210, 0.394);
    color: #ffffff;
    width: 320px;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0.5rem ;
}
#ampm {
    background-color: rgb(255, 255, 255);
    color: blueviolet;
    padding: 0 0.5rem;
    margin: 0;
    border-radius: 5px;
   
}

.clock {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 320px;
}

.clock div {
    
    border-radius: 10px;
    background-color: rgb(106, 91, 205, 0.8);
    box-shadow: 0 2px 3px rgb(72, 67, 71);
    border: 1px solid red;

}

.clock span {
    width: 100px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 3px 4px rgb(0, 0, 0, 0.3);
    border: 1px solid red;

}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 138, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid red;

}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(80, 33, 138);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgb(72, 67, 71);
}


#timerContainer {
    display: none;
    transition: display 5s;
}


@media screen and (max-device-width: 480px) {}